.elevation {
  &-dialog, &-picker, &-popover, &-tooltip {
      z-index: 240 !important;
  }

  &-navigation-drawer {
      z-index: 160 !important;
  }

  &-menu {
      z-index: 80 !important;
  }

  &-snackbar {
      z-index: 60 !important;
  }

  &-toolbar {
      z-index: 40 !important;
  }
}
