.w {
  &-100-px {
    width: 100px !important;
  }

  &-200-px {
    width: 200px !important;
  }

  &-300-px {
    width: 300px !important;
  }

  &-400-px {
    width: 400px !important;
  }

  &-500-px {
    width: 500px !important;
  }
}

.h {
  &-100-px {
    height: 100px !important;
  }

  &-200-px {
    height: 200px !important;
  }

  &-300-px {
    height: 300px !important;
  }

  &-400-px {
    height: 400px !important;
  }

  &-500-px {
    height: 500px !important;
  }
}

.min {
  &-w {
    &-100-px {
      min-width: 100px !important;
    }

    &-200-px {
      min-width: 200px !important;
    }

    &-300-px {
      min-width: 300px !important;
    }

    &-400-px {
      min-width: 400px !important;
    }

    &-500-px {
      min-width: 500px !important;
    }
  }

  &-h {
    &-100-px {
      min-height: 100px !important;
    }

    &-200-px {
      min-height: 200px !important;
    }

    &-300-px {
      min-height: 300px !important;
    }

    &-400-px {
      min-height: 400px !important;
    }

    &-500-px {
      min-height: 500px !important;
    }
  }
}

.max {
  &-w {
    &-100-px {
      max-width: 100px !important;
    }

    &-200-px {
      max-width: 200px !important;
    }

    &-300-px {
      max-width: 300px !important;
    }

    &-400-px {
      max-width: 400px !important;
    }

    &-500-px {
      max-width: 500px !important;
    }
  }

  &-h {
    &-100-px {
      max-height: 100px !important;
    }

    &-200-px {
      max-height: 200px !important;
    }

    &-300-px {
      max-height: 300px !important;
    }

    &-400-px {
      max-height: 400px !important;
    }

    &-500-px {
      max-height: 500px !important;
    }
  }
}
