.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.text-ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-initial {
  cursor: initial !important;
}